/* CSS for ROME (REDCap Ontologies Made Easy EM) */
.rome-edit-field-ui-container {
	font-size: 13px;
	margin-top: 10px;
	border: 1px solid #ccc;
	padding: 6px 8px 10px 8px;
	max-width: 700px;
}
#addMatrixPopup .rome-edit-field-ui-container {
	max-width: unset;
}
.rome-edit-field-ui-container h1 {
	font-size: 13px;
	font-weight: bold;
	margin: 2px 0 5px 0;
}
.rome-edit-field-ui-container h2 {
	font-size: 13px;
	font-weight: 500;
	margin: 5px 0 2px 0;
}
.rome-edit-field-ui-container input[type="search"] {
	max-width: 300px;
}

.rome-edit-field-ui-list-empty {
	color: #999;
	font-style: italic;
}

.rome-edit-field-ui-footer {
	font-size: 11px;
	color: #808080;
}
.rome-edit-field-ui-footer a {
	text-decoration: underline;
}
.rome-edit-field-ui-header {
	display: flex;
}

#div_add_field .rome-em-fieldedit-exclude-matrix {
	display: none;
}
#addMatrixPopup .rome-em-fieldedit-exclude-field {
	display: none;
}
.rome-edit-field-ui-body {
	margin-bottom: 10px;
}
.rome-edit-field-ui-container:has(input.rome-em-fieldedit-exclude:checked) .rome-edit-field-ui-body {
	display: none;
}